:root{
    --cor-0: #000000;
    --cor-1: #183A37;
    --cor-2: #FFF7E9;
    --cor-3: #feefd68a;
    --cor-4: #C44900;
    --cor-5: #432534;
    --cor-6: #FFFFFF;  
    --cor-7: #e6e6e6;
    --cor-8: #737373;
    --cor-9: #E5E5E5;
}