
 
  body {
    background-color: var(--cor-1);
    color: white;
  }

  .header-container {
    background-color: var(--cor-2);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .logo {
    height: 26px;
  }

  .container {
    display: flex;
    min-height: 100vh;
  }

  aside.sidebar {
    width: 250px;
    background-color: var(--cor-1);
    color: white;
    padding: 20px;
  }

  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .sidebar h3 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: normal;
  }

  .sidebar-menu-item {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-left: 4px solid transparent;
    transition: border-color 0.3s ease;
  }

  .sidebar-menu-item:hover,
  .sidebar-menu-item.active {
    border-left: 4px solid #FF7A00;
  }

  .main-content {
    flex-grow: 1;
    padding: 30px;
    background-color: var(--cor-1);
  }

  .main-content h1 {
    font-size: 24px;
    color: var(--cor-6);
  }

  .header {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
  }

  .new-report-btn {
    background-color: var(--cor-4);
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }

  .search-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .search-filter input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
  }

  .filter-btn {
    padding: 10px 20px;
    background-color: var(--cor-4);
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  .tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .tab {
    padding: 8px 15px;
    border: none;
    background-color: #0E3C34;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  .tab.active {
    background-color: var(--cor-4);
  }

  .reports {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--cor-1);
  }

  .report-card {
    background-color: var(--cor-2);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    position: relative;
  }

  .report-card h3 {
    margin-bottom: 10px;
  }

  .report-card p {
    margin-bottom: 10px;
  }

  .report-card span {
    font-size: 14px;
    color: var(--cor-1);
  }

  .report-card .status {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
  }

  .in-progress .status {
    background-color: #facc15;
    color: #000;
  }

  .pending .status {
    background-color: #f97316;
    color: #fff;
  }

  .inactive .status {
    background-color: #94a3b8;
    color: #fff;
  }

  .details-btn {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: var(--cor-4);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
