.introducao {
    margin-top: 3px;
    background: linear-gradient(to bottom, #183A37, #3F7E44);
    padding: 50px;
    color: var(--cor-6);
    text-align: center;
}

.intro-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.introducao p {
    color: var(--cor-7);
    line-height: 1.5rem;
}

.intro-container a {
    background-color: var(--cor-6);
    color: var(--cor-0);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    border: #183A37;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 6px 6px 6px var(--cor-1);
}

.intro-container a:hover {
    background-color: var(--cor-4);
    gap: 20px;
    transition: 0.3s;
    color: var(--cor-6);
}
